<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>
        Helloworld
    </H1>
    <p>
        Hel,ojnjnanjn<br>
        jikmikmkkmkm
    </p>
    <table border="5" bgcolor="red" aline="center" width="50%">
        <th bgcolor="blue">Rollnumber</th>
            <td>Name</td>
            <td>Contact</td>
        </th>
        <tr>
            <td rowspan="2">1</td>
            <td colspan="2">Manu</td>
            <!-- <td>15223445</td> -->
        </tr>
        <tr>
            <!-- <td>2</td> -->
            <td>Basi</td>
            <td>4515256</td>
        </tr>
    </table>

    <forms methord="post" action="">
        <label>
            Name
        </label><br>
        <input type="text" name="userName"><br>
        <textarea></textarea><br>
        <input type="radio" name="gender">male<br>
        <input type="radio" name="gender">female<br>
        <label>
            State
        </label><br>
        <select name="State" id="123">
            <option>Kerala</option>
            <option>Tamil Nadu</option>
        </select><br>
        <button type="submit">Reg</button>
    </forms>
</body>
</html>